<p class="budget-sheet-card__title">Create new sheet...</p>

<form>
  {{input
    placeholder='Name'
    type='text'
    value=name
    class='textfield textfield--medium textfield--dark'}}
  <button type="submit" class="icon-button icon-button--light">
    {{fa-icon "plus"}}
  </button>
</form>
