<form>
  {{input
    placeholder='New Sheet'
    type='text'
    autocomplete='off'
    value=name
    classBinding='nameInvalid:textfield--error'
    class='textfield textfield--long textfield--relaxed'}}
  <button type="submit" class="icon-button icon-button--light">
    {{fa-icon "plus"}}
  </button>
</form>
