<form>
  {{input
    placeholder='Name'
    type='text'
    class='category-name textfield textfield--long'
    value=name}}

  {{input 
    placeholder='0.00'
    type='text'
    class='textfield textfield--short textfield--align-right'
    value=budgetAmount}}

  <button type="submit" class="button button--short">
    Add Category
  </button>
</form>
