<form>
  {{input
    placeholder='Category'
    type='text'
    class='textfield textfield--long'
    value=name}}

  {{input 
    placeholder='0.00'
    type='text'
    class='textfield textfield--align-right'
    value=budgetAmount}}

  <button type="submit" class="button button--short">+</button>
</form>
