<form>
  {{input
    placeholder='Category'
    type='text'
    class='textfield textfield--long category-name'
    value=name}}

  {{input 
    placeholder='0.00'
    type='text'
    class='textfield textfield--align-right'
    value=budgetAmount}}

  <button type="submit" class="icon-button">
    {{fa-icon "plus"}}
  </button>
</form>
