<select class='textfield'>
  {{#each categories as |category|}}
    <option value={{category.id}} selected={{eq category.id entry.category.id}}>
      {{category.name}}
    </option>
  {{/each}}
</select>
