<h2 class="h2">Welcome</h2>

<form {{action 'authenticate' on='submit'}}>
  {{input
    id='email'
    placeholder='Email'
    class='textfield textfield--long textfield--grey'
    value=email}}
  {{input
    id='password'
    placeholder='Password'
    type='password'
    class='textfield textfield--long textfield--grey'
    value=password}}
  <button type="submit" class="button button--long button--dark">Login</button>
</form>
