<h2 class="h2">Welcome</h2>

<form>
  {{input
    id='email'
    placeholder='Email'
    type='email'
    class='textfield textfield--long textfield--relaxed textfield--dark'
    required=true
    value=email}}
  {{input
    id='password'
    placeholder='Password'
    type='password'
    class='textfield textfield--long textfield--relaxed textfield--dark'
    required=true
    value=password}}
  <button type="submit" class="button button--long button--dark" disabled={{currentlyLoading}}>
    Login
  </button>

  {{#if currentlyLoading}}
    <div class="loading loading--pad-right loading--pull-right">
      {{fa-icon "refresh" spin=true}}
    </div>
  {{/if}}
</form>
