<nav class="navbar">
  {{#if session.isAuthenticated}}
    <a class="navbar__link" {{ action 'logOut'}}>Logout</a>
    {{#link-to "budgetSheets" class="navbar__link"}}Budget Sheets{{/link-to}}
  {{else}}
    {{#link-to "login" class="navbar__link"}}Login{{/link-to}}
    {{#link-to "signup" class="navbar__link"}}Sign Up{{/link-to}}
  {{/if}}

  <h1 class="navbar__h1">
    budget<span>that</span>
  </h1>
</nav>
