<nav class="navbar">
  {{#if session.isAuthenticated}}
    <a class="navbar__link" {{ action 'logOut'}}>Logout</a>
    {{#link-to "budgetSheets" class="navbar__link"}}
      Budget Sheets
    {{/link-to}}
  {{else}}
    <a class="navbar__link" {{ action 'transitionToLogin' }}>Login</a>
  {{/if}}

  <h1 class="navbar__h1">Spend.ify</h1>
</nav>
