.h1 {
  font-size: 45px;
  font-weight: $base-font-weight;
  text-align: center;
  color: $t-light-grey;
  margin-bottom: 18px;
}

.h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: $t-light-purple;

  &.h2--space-top {
    margin-top: 60px;
  }
}

.textfield {
  @include border-box-sizing;
  @include no-appearance;
  padding: $compact-padding;
  margin-bottom: 4px;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  background-color: $t-purple;
  color: $t-light-purple;
  width: $base-field-length;
  outline: none;
  border: 1px solid $t-purple;
  border-bottom: 1px solid $t-light-purple;

  &.textfield--align-right {
    text-align: right;
  }

  &.textfield--long {
    width: $long-field-length;
  }

  &.textfield--super-long {
    width: $super-long-field-length;
  }

  &.textfield--medium {
    width: 192px;
  }

  &.textfield--full {
    width: 100%;
  }

  &.textfield--relaxed {
    padding: $base-padding;
  }

  &.textfield--dark {
    @include border-radius;
    color: $t-light-grey;
    background-color: $t-dark-purple;
    border: 1px solid $t-dark-purple;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $t-dark-purple inset;
      -webkit-text-fill-color: $t-light-grey;
    }

    &:focus {
      border: 1px solid $t-grey !important;
    }
  }

  &.textfield--error {
    border-bottom: 1px solid $red;
  }

  &:focus {
    color: $white;
    border-bottom: 1px solid $white;
  }
}

.icon-button {
  @include border-box-sizing;
  @include border-radius;
  padding: $compact-padding;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $t-grey;
  width: 42px;

  &:hover {
    color: $t-dark-grey;
  }

  &:disabled {
    color: $t-grey;
  }

  &.icon-button--light {
    color: $t-light-purple;

    &:hover {
      color: lighten($t-light-purple, 10%);
    }
  }

  &.icon-button--right {
    float: right;
  }

  &.icon-button--pull-up {
    margin-top: -45px;
  }
}

.button {
  @include border-box-sizing;
  @include border-radius;
  padding: $base-padding;
  font-size: $base-font-size;
  font-weight: $bold-font-weight;
  font-family: $base-font-family;
  background-color: $t-purple;
  color: $white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $t-light-purple;
  }

  &.button--long {
    padding: $base-padding 25px;
  }

  &.button--dark {
    color: $t-purple;
    background-color: $t-light-purple;

    &:hover {
      background-color: lighten($t-light-purple, 10%);
    }
  }
}

.data-cell {
  @include border-box-sizing;
  @include border-radius;
  display: inline-block;
  padding: $compact-padding;
  margin-bottom: 5px;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $t-light-purple;
  border: none;
  width: $base-field-length;

  &.data-cell--align-right {
    text-align: right;
  }

  &.data-cell--bold {
    font-weight: bold;
  }

  &.data-cell--long {
    width: $long-field-length;
  }

  &.data-cell--super-long {
    width: $super-long-field-length;
  }

  &.data-cell--negative {
    color: $red;
  }

  &.data-cell--positive {
    color: $green;
  }

  &.data-cell--space-bottom {
    margin-bottom: 20px;
  }

  &.data-cell--pad-top {
    padding-top: 10px;
  }

  &.data-cell--pad-bottom {
    padding-bottom: 10px;
  }

  &.data-cell--full-width {
    width: 100%;
  }
}

.navbar {
  margin-bottom: 20px;
  height: 60px;

  .navbar__h1 {
    font-size: 24px;
    color: $t-light-grey;

    span {
      color: $t-light-purple;
    }
  }

  .navbar__link {
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-left: 20px;
    margin-top: 6px;
    color: $t-light-purple;

    &:hover {
      color: lighten($t-light-purple, 10%);
    }
  }
}

.budget-sheet-card {
  @include border-box-sizing;
  @include border-radius;
  background-color: transparent;
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;

  .budget-sheet-card__link {
    @include border-box-sizing;
    @include border-radius;
    display: inline-block;
    background-color: $t-light-purple;
    height: 50px;
    width: 550px;
    color: $t-purple;
    text-decoration: none;
    padding: $base-padding;
  }

  .budget-sheet-card__button {
    @include border-box-sizing;
    @include border-radius;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    background-color: transparent;
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    float: right;
    color: $t-grey;

    &:hover {
      cursor: pointer;
      color: lighten($t-light-purple, 10%);
    }
  }
}

.login {
  @include border-box-sizing;
  margin: 0 auto;
  width: 270px;
}

.signup {
  @include border-box-sizing;
  width: 600px;
  margin: 0 auto;
  height: 45px;
  padding-left: 50px;
}

.backdrop {
  @include border-box-sizing;

  &.backdrop--border-bottom {
    border-bottom: 1px solid $t-light-purple;
  }
}

.loading {
  font-size: 25px;
  color: $t-light-purple;

  &.loading--centered {
    text-align: center;
  }

  &.loading--pull-right {
    float: right;
  }

  &.loading--pad-right {
    padding: 8px 12px 0 0;
  }
}

.text {
  color: $t-light-purple;

  &.text--centered {
    text-align: center;
  }

  &.text--space-bottom {
    margin-bottom: 50px;
  }
}

.centered-container {
  position: absolute;
  width: $page-width;
  height: 250px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: $t-light-purple;
  font-size: 14px;
  font-weight: $base-font-weight;

  &.link--pull-up {
    margin-top: -35px;
  }

  &.link--pull-right {
    float: right;
  }

  &:hover {
    color: lighten($t-light-purple, 10%);
  }
}
