.h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: $t-light-purple;

  &.h2--space-top {
    margin-top: 40px;
  }
}

.textfield {
  @include border-box-sizing;
  @include border-radius;
  @include no-appearance;
  padding: $base-padding;
  margin-bottom: 5px;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  background-color: $white;
  color: $t-dark-grey;
  border: none;
  width: 164px;

  &.textfield--align-right {
    text-align: right;
  }

  &.textfield--long {
    width: 250px;
  }

  &.textfield--medium {
    width: 192px;
  }

  &.textfield--space-bottom {
    margin-bottom: 20px;
  }

  &.textfield--dark {
    color: $t-light-grey;
    background-color: $t-dark-purple;
  }

  &.textfield--grey {
    background-color: $t-light-grey;
  }

  &.textfield--error {
    background-color: $light-red;
  }
}

.icon-button {
  @include border-box-sizing;
  @include border-radius;
  padding: $base-padding;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $t-grey;
  width: 42px;

  &:hover {
    color: $t-dark-grey;
  }

  &.icon-button--light {
    color: $t-light-purple;

    &:hover {
      color: $white;
    }
  }
}

.button {
  @include border-box-sizing;
  @include border-radius;
  padding: $base-padding;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  background-color: $t-purple;
  color: $white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $t-light-purple;
  }

  &.button--long {
    padding: $base-padding 25px;
  }

  &.button--dark {
    background-color: $t-dark-purple;

    &:hover {
      background-color: $t-light-purple;
    }
  }
}

.data-cell {
  @include border-box-sizing;
  @include border-radius;
  display: inline-block;
  padding: $base-padding;
  margin-bottom: 5px;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $t-dark-grey;
  border: none;
  width: 164px;

  &.data-cell--align-right {
    text-align: right;
  }

  &.data-cell--bold {
    font-weight: bold;
  }

  &.data-cell--long {
    width: 250px;
  }

  &.data-cell--negative {
    color: $red;
  }

  &.data-cell--space-bottom {
    margin-bottom: 20px;
  }
}

.navbar {
  margin-bottom: 20px;
  height: 60px;

  .navbar__h1 {
    font-size: 25px;
    color: $t-light-purple;
  }

  .navbar__link {
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-left: 20px;
    margin-top: 5px;
    color: $t-light-purple;

    &:hover {
      color: $white;
    }
  }
}

.budget-sheet-card {
  @include border-box-sizing;
  @include border-radius;
  float: left;
  display: inline-block;
  padding: $base-padding;
  background-color: $t-light-grey;
  width: 263px;
  height: 90px;
  margin: 0 18px 18px 0;

  &:nth-of-type(3n+1) {
    margin-right: 0;
  }

  &.budget-sheet-card--inverted {
    background-color: $t-purple;
  }

  .budget-sheet-card__link {
    color: $t-purple;
    text-decoration: none;

    &:hover {
      color: $t-dark-purple;
    }
  }

  .budget-sheet-card__button {
    @include border-box-sizing;
    @include border-radius;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    background-color: transparent;
    padding: 0;
    border: none;
    float: right;
    color: $t-grey;

    &:hover {
      cursor: pointer;
      color: $t-dark-grey;
    }
  }

  .budget-sheet-card__title {
    color: $t-light-purple;
    margin-bottom: 12px;
  }
}

.login {
  @include border-box-sizing;
  padding: $base-padding;
  margin: 100px auto;
  width: 270px;
}

.backdrop {
  @include border-box-sizing;
  @include border-radius;
  padding: $base-padding;
  background-color: $t-light-grey;
}
