$page-width: 825px;
$base-font-size: 16px;
$base-font-weight: 400;
$bold-font-weight: 700;
$base-font-family: 'Oxygen', sans-serif;
$base-padding: 10px;
$compact-padding: 7px;

$t-light-purple: #ACA7BD;
$t-purple: #514A6E;
$t-dark-purple: #463F60;
$t-light-grey: #E2E4E6;
$t-grey: #999999;
$t-dark-grey: #47525d;
$t-border-grey: #D8D8D8;

$red: #C26262;
$white: #FFFFFF;
$green: #54AB7D;
