@import '_reset.scss';

$dark-grey: #47525d;
$light-grey: #F6F7F8;
$hover-grey: #ECECEC;
$white: #FFFFFF;
$red: #C26262;
// $dark-purple: #7266ba;
// $light-purple: #847BBB;
// $lightest-purple: #EBEAF1;

$radius: 1px;
$base-font-size: 16px;
$base-font-weight: 200;

@mixin border-radius {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $dark-grey;
  background-color: $white;
}

a {
  color: $dark-grey;
}

div.container {
  width: 760px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  border-bottom: 1px solid $dark-grey;
  margin-bottom: 40px;
  height: 60px;

  h1 {
    font-size: 30px;
  }

  a.nav-item {
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-left: 20px;
    margin-top: 5px;

    &:hover {
      color: $hover-grey;
    }
  }
}

div.block {
  @include border-radius;
  background-color: $light-grey;
  padding: 20px;
  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
    background-color: $hover-grey;
  }
}

form.budget-sheet-form {
  margin-bottom: 5px;

  input[type='text'] {
    @include border-radius;
    padding: 20px;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    width: 487.5px;
    border: none;
    background-color: $light-grey;
  }

  button {
    @include border-radius;
    padding: 20px;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    width: 228px;
    border: none;
    background-color: $light-grey;
    color: $dark-grey;

    &:hover {
      cursor: pointer;
      background-color: $hover-grey;
    }
  }
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

div.category-row {
  box-sizing: border-box;
  width: 760px;

  div.cell {
    box-sizing: border-box;
    display: inline-block;
    width: 186px;
    margin-right: 1px;
    padding: 10px;

    &:last-of-type {
      width: 185px;
      margin-right: 0px;
    }

    &.input {
      padding: 0px;
    }

    &.is-negative {
      color: $red;
    }

    input {
      box-sizing: border-box;
      @include border-radius;
      font-size: $base-font-size;
      font-weight: $base-font-weight;
      background-color: $light-grey;
      border: none;
      padding: 10px;

      &:focus {
        outline: none;
      }
    }
  }
}
