@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
@import 'bower_components/font-awesome/scss/font-awesome';
@import '_reset.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_alerts.scss';
@import '_datepicker.scss';
@import '_blocks.scss';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $bold-font-weight;
  color: $white;
  background-color: $t-purple;
}

.container {
  width: 825px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.field-wrapper {
  display: inline-block;
}

.space-bottom {
  margin-bottom: 20px;
}
