@import '_reset.scss';

$dark-grey: #47525d;
$white: #FFFFFF;
$red: #FBA0A0;

$primary-dark: #3A374E;
$primary: lighten($primary-dark, 5%);
$primary-light: lighten($primary-dark, 70%);
$primary-hover: lighten($primary-dark, 10%);

$radius: 1px;
$base-font-size: 16px;
$base-font-weight: 300;
$base-font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;

@mixin border-radius {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $white;
  background-color: $primary-dark;
}

a {
  color: $white;
}

div.container {
  width: 825px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  border-bottom: 1px solid $primary;
  margin-bottom: 40px;
  height: 60px;

  h1 {
    font-size: 30px;
  }

  a.nav-item {
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-left: 20px;
    margin-top: 5px;

    &:hover {
      color: $primary-hover;
    }
  }
}

div.block {
  @include border-radius;
  background-color: $primary;
  padding: 20px;
  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
    background-color: $primary-hover;
  }
}

form.budget-sheet-form {
  margin-bottom: 15px;

  input[type='text'] {
    @include border-radius;
    padding: 20px;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    width: 552.5px;
    border: none;
    background-color: $primary-light;
    color: $dark-grey;
  }

  button {
    @include border-radius;
    padding: 20px;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    width: 228px;
    border: none;
    background-color: $primary;
    color: $white;

    &:hover {
      cursor: pointer;
      background-color: $primary-hover;
    }
  }
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

div.category-row {
  @include border-box-sizing;
  width: 100%;
  border-bottom: 1px solid $primary;

  div.cell {
    @include border-box-sizing;
    display: inline-block;
    width: 194px;
    margin-right: 1px;
    padding: 13px;
    text-align: right;

    &:first-of-type {
      width: 226px;
      text-align: left;
    }

    &:last-of-type {
      margin-right: 0px;
    }

    &.input {
      padding: 0px;
    }

    &.is-negative {
      color: $red;
    }

    input {
      @include border-box-sizing;
      font-size: $base-font-size;
      font-weight: $base-font-weight;
      background-color: $primary;
      color: $white;
      border: none;
      padding: 12px;
      width: inherit;
      border-bottom: 1px solid $primary-dark;

      &.right-aligned {
        text-align: right;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
