<div class="container">
  {{
    nav-bar
    session=session
    invalidateSession=(action 'invalidateSession')
    sessionRequiresAuthentication=(action 'sessionRequiresAuthentication')
  }}

  {{outlet}}
</div>
