<h2>{{model.name}}</h2>

{{#each model.categories as |category|}}
  <div>
    {{category.name}}
    <span>{{category.budgetAmount}}</span>
  </div>
{{/each}}

{{category-form addCategory=(action 'addCategory')}}
